<resp errcode="0" err_msg="">
	<list>
		#foreach($noticeinfo in $infolist)
			<notice>
				<noticeid>$!{noticeinfo.notice.noticeid}</noticeid>
				<userid>$!{noticeinfo.notice.userid}</userid>
				<create_time>$!{noticeinfo.notice.fmtTime}</create_time>
				<notice_flg>$!{noticeinfo.notice.notice_flg}</notice_flg>
				<readflg>$!{noticeinfo.notice.readflg}</readflg>
				<sender>
					<userid>$!{noticeinfo.notice.sender.userid}</userid>
					<nick><![CDATA[$!{noticeinfo.notice.sender.nick}]]></nick>
					<head><![CDATA[$!{noticeinfo.notice.sender.head}]]></head>
				</sender>
				<photoid><![CDATA[$!{noticeinfo.notice.refoid}]]></photoid>
				<noticeintro><![CDATA[$!{noticeinfo.text}]]></noticeintro>
			</notice>
		#end
	</list>
</resp>