html,body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,a,form,fieldset,select,input,ul,li,table,td,th,img,textarea
	{
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5A5858;
	line-height: 25px;
	width: auto;
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
	word-break: break-all;
	word-wrap: break-word;
}

img {
	border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

table tr td {
	vertical-align: top;
}

select {
	border: #ccc 1px solid;
	padding: 3px 2px;
}

table.formt {
	border: none;
	width: 100%;
}

table.formt tr td {
	vertical-align: top;
	padding: 7px;
}

a {
	color: #2398C9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.b {
	font-weight: bold;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

#hk {
	margin-right: auto;
	margin-left: auto;
	width: 988px;
}

#hkinner {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

#header {
	position: relative;
}

#header #location {
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 12px;
}

#header #location a {
    font-weight: bold;
    border-bottom: 1px dotted;
    color: #FFFFFF;
}

#body {
	padding: 20px;
	padding-top: 20px;
	background-color: #ffffff;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

#footer {
	padding: 20px;
	text-align: center;
}

/****************************************************/
#header #top {
	height: 93px;
	width: 100%;
}

#header #topNav {
	background-color: #E5E5E5;
	float: right;
	margin: 0;
	padding: 0;
	border: 1px solid #CCCCCC;
	height: 30px;
	font-size: 14px;
	line-height: 14px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#header #topNav li {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #FFFFFF;
	float: left;
	margin: 6px 0;
	padding: 2px 8px;
	list-style: none;
}

#header #topNav li.first {
	border-left: none;
	font-weight: bold;
	position: relative;
}

#header #topNav li.withImage {
	padding-left: 35px;
}

#header #topNav li.withImage img {
	width: 23px;
	height: 23px;
}

#header #topNav li.last {
	border-right: none;
}

#header #topNav li a {
	font-weight: bold;
	color: #3AA9D6;
}

#header #topNav img {
	height: 23px;
	left: 6px;
	position: absolute;
	top: -4px;
	width: 23px;
}

#header #bottom {
	background-color: #4DB8E0;
	border-bottom: 1px solid #45A5C9;
	float: left;
	width: 940px;
	height: 38px;
	position: relative;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#header #mainNav {
	border-left: 1px solid #329CC3;
	border-right: 1px solid #73C5E4;
	float: left;
	margin: 9px 0 0 20px;
	padding: 0;
}

#header #mainNav li {
	float: left;
	list-style: none;
	border-left: 1px solid #73C5E4;
	border-right: 1px solid #329CC3;
	position: relative;
}

#header #mainNav li:first-child {
	
}

#header #mainNav li a {
	color: #FFFFFF;
	float: left;
	font-family: Arial, sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 100;
	height: 20px;
	letter-spacing: 1px;
	line-height: 20px;
	margin: 0 5px;
	padding: 0 8px;
	text-decoration: none;
}

#header #mainNav li a:hover {
	text-decoration: underline;
}

#header #bottomGrad {
	background: transparent url(../img/headerGrad.png) repeat scroll 0 0;
	clear: both;
	height: 9px;
}

#header #carrot {
	bottom: -16px;
	left: 50%;
	margin-left: -8px;
	position: absolute;
}

#header #logo {
	float: left;
	position: relative;
	width: 150px;
	padding-top: 10px;
}

#header #logo .test {
	position: absolute;
	bottom: 0;
	right: 0;
}

#header #logo a {
	padding: 0;
	margin: 0;
}

/****************************************************/
#bodyheader {
	margin-top: 20px;
	margin-bottom: 30px;
}

#bodyheader a {
	font-weight: bold;
}

#bodyheader .bug {
	float: left;
}

#bodyheader .location {
	float: right;
}

.bd {
	border: 1px solid #000;
}

.bd0 {
	border: 1px solid #e5e5e5;
}

.clr {
	float: none;
	clear: both;
	line-height: 0;
	font-size: 0;
	height: 0;
}

input.text {
	width: 250px;
	padding: 3px 7px;
	margin-bottom: 0px;
}

.btn {
	background-color: #A9CD20;
	border: 3px solid #CBEB7F;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
	padding: 3px 20px !important; /*******ie8 ff opera safari******/
	*padding: 3px 0px !important; /****ie7****/ *
	padding: 3px 0px;
	padding: 3px 0px; /***ie6***/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn3 {
	background-color: #2398c9;
	border: 3px solid #74c5e7;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
	padding: 3px 20px !important; /*******ie8 ff opera safari******/
	*padding: 3px 0px !important; /****ie7****/ *
	padding: 3px 0px;
	padding: 3px 0px; /***ie6***/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn2 {
	background-color: #A9CD20;
	border: 3px solid #CBEB7F;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	padding: 3px 0;
	margin: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.row {
	padding: 7px;
}

.ruo {
	color: #cccccc;
	font-size: 12px;
}

a.ruo:hover,a.ruo2:hover {
	color: #2398C9;
}

p.linefix,br.linefix {
	line-height: 0px;
	height: 0px;
	font-size: 1px;
}

.hide {
	display: none;
}

.infowarn {
	color: red;
}

div.mod {
	margin: 0 0 20px 0;
	height: 100%;
	position: relative;
}

div.mod div.mod_title {
	font-size: 24px;
	color: #888888;
	line-height: 20pt;
	border-bottom: 1px solid #888888;
	position: relative;
	height: 100%;
}

div.mod div.mod_title a {
	color: #2398C9;
	position: relative;
	text-decoration: none;
}

div.mod div.mod_title a.fn {
	color: #2398C9;
}

div.mod div.mod_title a.more {
	font-size: 14px;
	color: #2398C9;
	position: absolute;
	right: 5px;
	bottom: 0px;
}

div.mod div.mod_content {
	margin: 5px 0 5px 0;
}

div.alerts_notice {
	font-size: 20px;
	color: #FFFFFF;
	background-color: #ffcc33;
	font-weight: bold;
	padding: 5px 8px 5px 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.warn {
	background-color: #ffcc33;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 8px 5px 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

/**************pop win******************/
.win2 {
	width: 400px;
	height: 300px;
	background: #222222;
	overflow: hidden;
}

.win2 .innerwin {
	margin: 5px;
	padding: 0px 20px 0px 20px;
	margin-bottom: 0px;
	background: #fff;
	height: 250px;
}

.win2 .innerwin .handle {
	height: 20px;
	cursor: move;
}

.win2 .innerwin .title {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 3px;
}

.win2 .innerwin .content {
	font-size: 14px;
	padding-top: 3px;
}

.win2 .winbtm {
	padding-right: 20px;
}

.win2 .winbtm#id_winbtm_content {
	position: absolute;
}

.win2 .winbtm a {
	display: block;
	float: right;
	height: 35px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;
	margin-top: 5px;
}

.win2 .winbtm a:hover {
	text-decoration: none;
}

.winab {
	position: absolute;
	z-index: 99;
	left: 0px;
	top: 0px;
}

.hcenter {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}

.split-r {
	margin-right: 10px;
}

/*******************page3**************************/
div.page3 {
	margin-top: 20px;
	padding: 0px 10px;
	font-size: 14px;
}

div.page3 a {
	text-decoration: none;
	font-size: 16px;
	width: 45%;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
	display: block;
	padding: 6px 0;
	text-align: center;
	background: url(../img/page_more.gif) repeat-x;
	font-weight: bold;
}

div.page3 a.p_l {
	float: left;
}

div.page3 a.p_center {
}

div.page3 a.p_r {
	float: right;
}

div.page3 a:hover {
	text-decoration: none;
	border: 1px solid #bbbbbb;
	background-position: left -78px;
}

/*******************page3 end**************************/
/*******************list**************************/
.rd {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bdtm {
	border-bottom: 1px solid #e5e5e5;
}

.more2 {
	text-decoration: none;
	font-size: 16px;
	width: 99%;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
	display: block;
	padding: 6px 0;
	text-align: center;
	background: url(../img/page_more.gif) repeat-x;
	font-weight: bold;
}

.nodata {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

ul.rowlist,ul.rowlist li {
	list-style: none;
}

ul.rowlist li {
	height: 100%;
	padding: 7px;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e5e5;
}

ul.rowlist li.enter {
	background-color: #ffffcc;
}

.split-l {
	margin-left: 10px;
}
ul.mgrmenu ,ul.mgrmenu li{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.mgrmenu li{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-indent: 20px;
}
ul.mgrmenu li a{
	display: block;
	text-decoration: none;
}
ul.mgrmenu li a:hover,
ul.mgrmenu li a.sel{
	display: block;
	background-color: #2398C9;
	color: #ffffff;
	text-decoration: none;
}
.floatBoxBg {
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity = 50);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.black{
	color: #000000;
}
.color_block{
	width: 50px;
	height: 30px;
	border: 1px solid #000000;
	float: left;
}
.imgcol{
	margin-right: 10px;
	width: 40px;
	height: 40px;
}
.imgcol img{
	width: 40px;
	height: 40px;
}