<resp status="ok">
	<laba>
		<labaid>$!{vo.laba.labaId}</labaid>
		<userid>$!{vo.laba.userId}</userid>
		<createtime>$!{vo.laba.time}</createtime>
		<replycount>$!{vo.laba.replyCount}</replycount>
		<sendfrom>$!{vo.laba.sendFrom}</sendfrom>
		<hasmorecontent>$!{vo.hasMoreContent}</hasmorecontent>
		#if(${vo.hasMoreContent})
		<content><![CDATA[$!{vo.longContent}]]></content>
		#else		
		<content><![CDATA[$!{vo.content}]]></content>
		#end
		<favorite>$!{vo.fav}</favorite>
		<source><![CDATA[$!{vo.source}]]></source>
		<sourceurl><![CDATA[$!{vo.sourceurl}]]></sourceurl>
		<user>
			<userid>$!{vo.laba.userId}</userid>
			<nickname><![CDATA[$!{vo.laba.user.nickName}]]></nickname>
			<head>$!{vo.laba.user.head48Pic}</head>
		</user>
	</laba>
</resp>