<resp status="ok">
	<company>
		<companyid>$!{o.companyId}</companyid>
		<userid>$!{o.userId}</userid>
		<createrid>$!{o.createrId}</createrid>
		<name><![CDATA[$!{o.name}]]></name>
		<tel><![CDATA[$!{o.tel}]]></tel>
		<kindid>$!{o.kindId}</kindid>
		<addr><![CDATA[$!{o.addr}]]></addr>
		<totalscore>$!{o.totalScore}</totalscore>
		<totalvote>$!{o.totalVote}</totalvote>
		<reviewcount>$!{o.reviewCount}</reviewcount>
		<cityid>$!{o.cityId}</cityid>
		<provinceid>$!{o.provinceId}</provinceid>
		<intro><![CDATA[$!{o.intro}]]></intro>
		<recruitintro><![CDATA[$!{o.recruitIntro}]]></recruitintro>
		<traffic><![CDATA[$!{o.traffic}]]></traffic>
		<markerx>$!{o.markerX}</markerx>
		<markery>$!{o.markerY}</markery>
		<head>$!{o.head240}</head>
		<logo48>$!{o.logo48}</logo48>
		<logo80>$!{o.logo80}</logo80>
		<city>
			<cityid>$!{pcity.cityId}</cityid>
			<city><![CDATA[$!{pcity.name}]]></city>
		</city>
		<companykind>
			<kindid>$!{kind.kindId}</kindid>
			<name><![CDATA[$!{kind.name}]]></name>
		</companykind>
	</company>
</resp>