<resp status="ok">
	<cmpphoto>
		#foreach($p in $list)
		<photo>
			<photoid>$!{p.photoId}</photoid>
			<name>$!{p.name}</name>
			<pic60>$!{p.getPic60()}</pic60>
			<pic240>$!{p.getPic240()}</pic240>
			<pic320>$!{p.getPic320()}</pic320>
			<pic640>$!{p.getPic640()}</pic640>
		</photo>
		#end
		<nextpage>$!{nextPage}</nextpage>
		<prepage>$!{prePage}</prepage>
	</cmpphoto>
</resp>