html, body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, a, form, fieldset, select, input, ul, li, table, td, th, img, textarea {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 25px;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.divrow{
	padding: 3px;
	height: 100%;
}
.hide{
	display:none;
}
table.nt{
	width:100%;
}
table tr td{vertical-align: top;}
table.all tr td{padding: 10px;}
br.linefix{line-height:0px;}
.infowarn{
	color: red;
}
a:link, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #a10000;
    text-decoration: none;
}
.f{
	color: #a10000;
}

br.linefix {
    line-height: 0px;
}
.hcenter{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}
.bdtm{
	border-bottom:1px solid #B4B4B4;
}
.split-r {
    margin-right: 15px;
}

.clr {
    float: none;
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
}

.hk {
    width: 980px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    list-style: none;
}

br.linefix {
    line-height: 0px;
}

img {
    border: none;
}

a img {
    border: none;
}

.bd {
    border: 1px solid #000000;
}
.bd0{
	border: 1px solid #e5e5e5;
}
.b {
    font-weight: bold;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.plist {
    margin-top: 10px;
    border: 1px solid #B7B7B7;
    height: :100%;
}
.plist.nomgtop{
	margin-top:0;
}
.plist ul li {
    float: left;
    padding: 8px;
    width: 122px;
    height: 170px;
    text-align: center;
}
.plist ul li p.n{
	width: 122px;
	height: 25px;
	overflow: hidden;
}
.plist ul li img {
    border: 1px solid #ffffff;
}

.plist ul li .pdetail {
    position: absolute;
    top: 0;
    left: 130px;
    width: 340px;
    height: 320px;
    display: none;
    z-index: 999;
    padding: 10px 0;
    border: 1px solid #000000;
    background-color: #e6eaf3;
}

.plist ul li .pdetail .jt {
    position: absolute;
    width: 13px;
    height: 22px;
    background: url(../img/jt.gif) no-repeat;
    top: 0;
    left: 0;
    z-index: 1000;
}

.plist ul li a:hover img {
    border: 1px solid #a10000;
    margin-left: auto;
    margin-right: auto;
}

.plist a.more {
    display: block;
    text-align: right;
    padding-right: 10px;
}

.plist ul li .pdetail img.big {
    width: 320px;
    height: 320px;
}
.nopic120{
	float: left;
	width:120px;
	height: 120px;
	line-height: 120px;
	font-size: 24px;
	text-align:center;
	cursor: pointer;
}

.imgbox {
    /* 非IE的主流浏览器识别的垂直居中的方法*/
    display: table-cell;
    vertical-align: middle;
    /*设置水平居中*/
    text-align: center;
    /* 针对IE的Hack */ *display:block;
    * font-size: 120px;
    width:122px;
    height:122px;
    overflow: hidden;
}

.imgbox img {
    /* 设置图片垂直居中*/
    vertical-align: middle;
    width: 120px;
    height: 120px;
}

ul.piclist120 li{
	margin:10px;
	width: 120px;
	height: 120px;
	float: left;
}	
ul.piclist120 li.img{
	width: 120px;
	height: 120px;
}	
/********************用户头部*************/
.userop {
    margin-top: 10px;
    text-align: right;
}

.hotkind {
    background-color: #565662;
    color: #ffffff;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}

.hotkind a{
    color: #ffffff;
}

.hotkind a:hover{
    color: #ffffff;
    text-decoration: none;
}

.search {
    background-color: #F5F5F5;
    height: 30px;
    line-height: 30px;
}

.search .inner {
    padding-top: 0px;
    padding-left: 20px;
}

.imp {
    color: #A10000;
    font-weight: bold;
}

.mod {
    margin-bottom: 10px;
}
.mod_tit{
	text-indent:10px;
	background-color:#565662;
	color:#ffffff;
}
.mod_tit a{
	color:#ffffff;
}
.mod .inner{
	padding:0 3px;
}
.mod .content{
	
}
.column{
	overflow:hidden;
	height:100%;
}
.column .tit{
	text-indent:10px;
	background-color:#565662;
	color:#ffffff;
}
.column .tit a{
	color:#ffffff;
}
.column .l{
	float:left;
	width:120px;
}
.column .r{
	float:right;
	width:640px;
}
.column .r .main{
	padding:0 6px 6px 6px;
	height:75px;
	overflow:hidden;
	margin-bottom:10px;
	border-bottom:1px solid #e5e5e5;
}
.foot {
    margin: 20px 0;
    border-top: 1px solid #9F0306;
}
.foot {
    margin: 20px 0;
    border-top: 1px solid #9F0306;
}

.pl {
    float: left;
    width: 200px;
}

.pr {
    float: right;
    width: 765px;
}

.leftnav {
    border: 1px solid #B4B4B4;
}
.leftnav .inner{
	padding:3px;
	border-bottom: 1px solid #B4B4B4;
}
.leftnav .inner.end{
	border-bottom: none;
}
.leftnav .tit {
    background-color: #565662;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 0px;
	text-indent:20px;
}

.leftnav ul.nav_1 li {
    margin-left: 20px;
	font-weight:bold;
}
.leftnav ul.nav_1 li ul.nav_2 li{
	margin-left: 20px;
	font-weight:bold;
}
.leftnav ul.nav_1 li ul.nav_2 li ul.nav_3 li{
	margin-left: 20px;
	font-weight:normal;
}
.leftnav ul.nav_1 li .sel{
	color:#a10000;
}
.mainnav{
	background-color:#E6EAF3;
	padding:5px;
}


/*****************主导航*******************/

div.site-nav
{
	height:30px;
	z-index: 5;
	position: relative;
}
#floor_nav
{
	margin-left: 0px;
	vertical-align: text-bottom;
}
div.site-nav ul.floors
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}
div.site-nav ul.floors li
{
	list-style-type: none;
	display: inline;
	float: left;
	padding-right: 2px;
	list-style-position: outside;
	list-style-image: none;
}
div.site-nav ul.floors li img
{
	border: none;
}
div.site-nav
{
	z-index: 6;
	margin-left: 0px;
}
div.sub-floor-menus div.menu
{
	margin: 0 0 0 -1px;
	position: absolute;
	top: 30px;
	z-index: 6;
}
.site-nav .floors
{
	margin: 0;
	padding: 0;
	float: left;
}
div.sub-floor-menus div.menu
{
	margin: 0 0 0 -1px;
	position: absolute;
	top: 30px;
	z-index: 6;
}
div.site-nav ul.floors li a
{
	float:left;
	height: 30px;
	position: relative;
	text-align:center;
}
div.site-nav ul.floors li.navli a
{
	color:#000000;
	line-height:30px;
}


div.site-nav ul.floors li.navli a.selected, 
div.site-nav ul.floors li.navli a:hover{
	color:#ffffff;
}


.dht
{
	background-color: #ffffff;
	width:150px;
	border:solid 1px #b4b4b4;
	padding:0 15px 7px 15px;
	overflow:hidden;
}
.dht dl
{
	margin: 0;
	padding: 12px 0 0 0;
}
.dht dl dt,.dht dl dd
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.dht dl dt{   margin:0; padding:0 0 5px 0; width:222px;border-bottom:1px solid #a10000; overflow:hidden}
.dht dl dd{width:100px;}
.dht dl .dhj{width:222px; margin-bottom:2px;*margin-bottom:3px;_margin-bottom:1px; }
.dht dl .dhj ul{}
.dht dl dt ul{margin:0; padding:0;}
.dht dl dt ul li{ list-style:none; margin: 0; padding:0; float:left}
.dht dl dt ul li p{ width:222px; margin:0;}
.dht dl dt ul .hj{ color:#000000; width:94px; }
.dht dl dt ul li p span strong{ color:#a10000}
.dht dl dd{padding:0;margin:0; width:222px;}
.dht dl dd ul{margin:0; padding:0;}
.dht dl dd ul li{ list-style:none; margin:0; padding:0;float:left}
.dht dl dd ul li p{ width:222px; margin:0;}
.dht dl dd ul li span{}
.dht dl dd ul .hj{color:#000000; width:94px; }
.dht dl dd ul li p span strong{ color:#666666}

div.site-nav ul.floors li a
{
	background-position:bottom;
	background-repeat:no-repeat;
}

.rd_l{
	float:left;
	display:inline;
	width:4px;
	height:35px;
	background:url(../img/rd0/rdl.gif) no-repeat;
}
.rd_mid{
	float:left;
	text-align:center;
	padding:0 20px;
	display:inline;
	cursor:pointer;
	height:35px;
	background:url(../img/rd0/mid.gif) repeat-x;
}
.rd_r{
	float:left;
	display:inline;
	width:4px;
	height:35px;
	background:url(../img/rd0/rdr.gif) no-repeat;
}
div.site-nav ul.floors li.navli a.selected .rd_l, 
div.site-nav ul.floors li.navli a:hover .rd_l{
	background:url(../img/rd1/rdl.gif) no-repeat;
}
div.site-nav ul.floors li.navli a.selected .rd_mid, 
div.site-nav ul.floors li.navli a:hover .rd_mid{
	background:url(../img/rd1/mid.gif) repeat-x;
}
div.site-nav ul.floors li.navli a.selected .rd_r, 
div.site-nav ul.floors li.navli a:hover .rd_r{
	background:url(../img/rd1/rdr.gif) no-repeat;
}
/********************* menu2 ********************************/
/* common styling */
.innermenu2{padding: 10px 0px 10px 0px;font-size: 14px;background: #F4F4F4}
.menu2{width:155px;position:relative; margin:0; z-index:100;background: #F4F4F4}
.menu2 .menu2_tit{padding-left: 10px;font-size: 14px;font-weight: bold;}
.menu2 ul {padding:0; margin:0; list-style-type: none; width:155px;}
.menu2 ul li {width:155px;}
.menu2 ul li a{
display:block;
text-indent:20px;
width:155px;
height:30px;
line-height:30px;
border-top: 1px solid #F4F4F4;
border-bottom: 1px solid #e5e5e5;
text-decoration:none;
}
.menu2 ul li ul {
visibility:hidden;display:none; position:absolute; height:auto; overflow:hidden; top:0; left:140px;
}
.menu2 ul li ul li{float:left;}
.menu2 table {
border-collapse:collapse; border:0; margin:0; padding:0; font-size:1em; position:absolute; left:0; top:0;
}

/* first line for IE7 and non-IE browsers - second line for IE5.5 and IE6 */
.menu2 ul li a:hover{background:#fff;border-top: 1px solid #D6E5F2; border-bottom: 1px solid #D6E5F2;text-decoration: none;}

.menu2 ul li:hover {position:relative; z-index:90;}
* html .menu2 ul li a:hover {position:relative; z-index:100;text-decoration: none;}
.menu2 ul li ul li{float: left;width: 90px;height:30px;text-align: center;line-height:30px;}

.menu2 ul li:hover ul,
.menu2 ul li a:hover ul {
	visibility:visible;display:block; 
	position:absolute; height:auto; border:1px solid #D6E5F2; 
	background:#fff;
	width: 230px;
	overflow:visible;
}
.menu2 ul li:hover ul li,
.menu2 ul li a:hover ul li{
	position:relative;
	background:#fff;
	z-index: 121;
}
.menu2 ul li:hover ul li.first,
.menu2 ul li a:hover ul li.first{
	margin-left: -1px;
	padding-left: -1px;
}
.menu2 ul li:hover ul li a,
.menu2 ul li a:hover ul li a{
	width:90px;display:block; background:transparent;
	text-decoration: none;border-bottom: 0;border-top: 0;}
.menu2 ul li:hover ul li a:hover,
.menu2 ul li a:hover ul li a:hover{text-decoration: underline;}
/********************* menu2 emd********************************/
ul.pagesupport li{
	width:auto;
	height:auto;
	float: left;
	margin:10px 5px;
	padding:0;
	border: 1px solid #e5e5e5;
}
ul.pagesupport li.etc{
	width:auto;
	height:auto;
	float: left;
	margin:10px 5px;
	padding:0;
	border:none;
	font-size: 16px;
	font-weight: bold;
}
ul.pagesupport li a{
	float: left;
	display: block;
	margin:0px;
	padding: 0px 7px;
}
ul.pagesupport li.now ,
ul.pagesupport li.now a{
	font-weight: bold;
	color: #a10000;
}
.hkd0{
	height:160px;
	overflow:hidden;
}
.hkd0 .l{
	float:left;
	width:170px;
	margin-right:10px;
	overflow:hidden;
}
.hkd0 .mid{
	float:left;
	width:620px;
	overflow:hidden;
}
.hkd0 .mid .top{
	height: 30px;
	overflow:hidden;
}
.hkd0 .mid .middle{
	height:90px;
	overflow:hidden;
}
.hkd0 .mid .bottom{
	height: 30px;
}
.hkd0 .mid .top  ul.adlist li,
.hkd0 .mid .bottom ul.adlist li{
	float: left;
	margin-right: 10px;
	width: 145px;
	overflow:hidden;
	height: 30px;
}
.hkd0 .r{
	float:right;
	width:170px;
	overflow:hidden;
}
.p_l{
	float:left;
	width:280px;
	margin-right:10px;
}
.p_mid{
	float:left;
	width:480px;
}
.p_l2{
	float:left;
	width:770px;
}
.p_r{
	float:right;
	width:200px;
	overflow: hidden;
}
.p_mid .inner{
	padding:0 7px;
}
.hkd1{
	width:466px;
	overflow:hidden;
}
.hkd2 .l{
	float:left;
	width:230px;
	overflow:hidden;
}
.hkd2 .r{
	float:right;
	width:230px;
	overflow:hidden;
}
.hkd3{
	height:90px;
	overflow:hidden;
}
ul.list li{
	overflow:hidden;
	height:25px;
}
ul.list4 li{
	width:280px;
	overflow:hidden;
	height:25px;
}
ul.list4 li div{
	width:800px;
}
ul.list2 li{
	float:left;
	width:210px;
	overflow:hidden;
	height:25px;
}
ul.list2 li.odd{
	float:right;
}
ul.list3 li{
	float:left;
	width:300px;
	overflow:hidden;
	height:25px;
}
ul.list3 li.odd{
	float:right;
}
ul.adimglist li{
	float: left;
}
ul.union li{
	float:left;
	margin:5px;
	width:88px;
	height:31px;
}
.tab{
	
}
.tab a.taba{
	position:relative;
	float:left;
	height:30px;
	background-color:#e5e5e5;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	margin-right:15px;
	padding:0 10px;
	line-height:30px;
}
.tab a.active{
	height:30px;
	background-color:#ffffff;
	bottom:-1px;
}
.tab .content{
	border-top:1px solid #cccccc;
}

ins {
text-decoration: none;
}


.m, .mt, .mc, .mb {
    overflow: hidden;
    zoom: 1;
}

.mt .extra {
    float: right;
}

.m {
    margin-bottom: 10px;
}

h1{font-size:20px;}

/*allsort*/
#allsort{overflow:visible;}
#allsort .mt{height:24px;padding:3px 8px;background: #C40000 ;line-height:25px;}
#allsort h2{float:left;color:#fff;font-size:14px;}
#allsort .mt a:link,#allsort .mt a:visited{color:#fff;}
#allsort .mt .extra{float:right;}
#allsort .mc{overflow:visible;width:278px;padding:2px 0 3px;border:solid #C40000;border-width:1px;background:#FFFFF5;}
#allsort h3{padding:4px 8px;font-size:14px;}
#allsort h3 a:link,#allsort h3 a:visited{color:#c00;}
#allsort .item{width:275px;height:25px;}
#allsort span{display:block;overflow:hidden;width:275px;height:20px;padding:3px 1px 2px 8px;line-height:20px;}
#allsort h4{float:left;font-weight:normal;font-size:14px;}
#allsort ins{float:left;width:140px;padding-right:8px;font-style:normal;text-decoration:none;background:color:#999;}
#allsort .item div{display:none;position:absolute;left:250px;top:0;z-index:12;}
#allsort dl,#allsort dt,#allsort dd{width:240px;background-image:url(../img/shadow.gif);background-repeat:no-repeat;}
#allsort dl{background-position:left bottom;}
#allsort dt{position:relative;padding:0 4px 0 15px;margin-left:1px;overflow:hidden;height:6px;background-position:right -36px;}
#allsort dd{position:relative;padding:0 5px 5px 0;margin-left:15px;overflow:hidden;background-position:right bottom;}
#allsort dd a{width:100px;overflow:hidden;margin-right:20px;float:left;}
#allsort .item:hover,#allsort .hover{position:relative;z-index:11;}
#allsort .item:hover span,#allsort .hover span{height:22px;padding:0 1px 2px 8px;border-top:1px solid #6C6C6C;background:url(../img/shadow.gif) repeat-x 0 -11px;overflow:hidden;}
#allsort .item:hover ins,#allsort .hover ins{position:absolute;right:20px;top:1px;z-index:13;overflow:hidden;width:10px;height:19px;background:#ffffff;line-height:19px;text-indent:200px;}
#allsort .item:hover div,#allsort .hover div{display:block;}
#allsort .mc .extra{padding:5px 8px 0;border-top:1px dotted #ccc;text-align:right;}
#allsort .mc .extra a:link,#allsort .mc .extra a:visited{color:#c00;}
*html #allsort dl{overflow:hidden;}

ul.datalist li{
	padding: 6px;
	height: 100%;
	border-bottom: 1px solid #e5e5e5;
}
ul.datalist li span.title{
	float: left;
	width: :400px;
}
ul.datalist li span.time{
	float: right;
	width: :100px;
	font-size: 12px;
}
a.normal{
	font-weight: normal;
}
input.text{width:250px;padding:3px 7px;}
input.btn{
	padding-left: 10px;
	padding-right: 10px;
}
.alerts_notice {
	font-size : 20px;
	color : #FFFFFF;
	background-color: #ffcc33;
	font-weight : bold;
	padding: 5px 8px 5px 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width:600px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px; 
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px; 
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.useropnav{
text-align: center;
}
.useropnav a{
font-size:16px;
display: block;
text-decoration: none;
padding: 5px 0;
font-weight: bold;
}
.useropnav a:hover,
.useropnav a.active
{
background-color: #e5e6e8;
color: #000000;
text-decoration: none;
}