<resp errcode="$!{errcode}" err_msg="$!{err_msg}">
<list>
#foreach($ppt in $list)
<ppt>
<pptid>$!{ppt.pptid}</pptid>
<projectid>$!{ppt.projectid}</projectid>
<name><![CDATA[$!{ppt.name}]]></name>
<pic1url><![CDATA[$!{ppt.getPic1Url()}]]></pic1url>
<pic2url><![CDATA[$!{ppt.getPic2Url()}]]></pic2url>
<project>
<projectid>$!{ppt.projectid.projectid}</projectid>
<name><![CDATA[$!{ppt.project.name}]]></name>
</project>
</ppt>
#end
</list>
</resp>