body{
	background:#fff;
}
.cmpinfo{
	background:#fff
}
.company_con{
	padding: 0px;
	background-color: #fff;
}
.company{
	width:100%;
}
.company tr td,
.company{
	border: none;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
.company tr td.cmp_l{
	width: 640px;
}
.company tr td.cmp_r{
	width: 160px;
}
.company tr td.cmp_r div.cmp_r_con{
	width: 160px;
	float: right;
}
.company tr td.cmp_r .cmp_r_top{
	padding-top: 20px;
}
.company tr td.cmp_r div.map{
	overflow: hidden;
}
.company tr td.cmp_r div.map .map_canvas{
width: 158px; height: 165px;overflow: hidden;
}
.company tr td.cmp_r div.map .mapmodify{
	width: 138px;height: 25px; text-align: right;
	padding-right: 20px;
	}
.company tr td.cmp_r div.map a,
.company tr td.cmp_r div.map a:hover{
	font-size: 12px;
	text-decoration: underline;
	padding: 0px 5px 0px 0px;
}
.company tr td.cmp_l div.mainpic{
	padding-top: 0px;
	padding-left: 10px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic{
	width: 340px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.info{
	width: 280px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func{
	padding: 0px 10px 0px 15px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.imgcon{
	width: 334px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic a.img{padding: 6px; display: block;margin: 0px;}
.company tr td.cmp_l div.mainpic .maintable tr td.pic img{width: 320px;height:240px;border: none;}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action{
	padding: 15px 0px 10px 0px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.share,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.share:visited,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.fav2,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.fav2:visited,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.act,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.act:visited
{
	color: #000;
	text-decoration: none;
	font-weight:bold;
	line-height: 19px;
	margin: 0 18px;
	padding-left: 24px;
	display:block;
	float: left;
	cursor: pointer;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.share{
	background: url(../img/share-icon-16x16.png) no-repeat left center;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.fav2{
	background: url(../img/ico_favorite.gif) no-repeat left center;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.act{
	background: url(../img/ico_spring.gif) no-repeat left center;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.share:hover,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.fav2:hover,
.company tr td.cmp_l div.mainpic .maintable tr td.pic div.action a.act:hover
{
	color:#D94275;
}
.company .split {
	border-left:1px solid #e7e7e7;
	width:1px;
	height:20px;
	float:left;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimgcon a{
	cursor: pointer;
}

.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimg{
margin: 0px;padding: 0px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic .slider{
	width: 270px;
	height:79px;
	position: relative;
	float: left;
	overflow:hidden;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic .next_button {
  margin: 0px; position: relative; top: 22px;
  float:left;
  width: 20px;
  height: 32px;
  background: url(../img/btn-right-a.gif) no-repeat left center;
  z-index: 70;
  cursor: pointer;
  margin-left:5px;
}

.company tr td.cmp_l div.mainpic .maintable tr td.pic .previous_button {
  margin: 0px; position: relative; top: 22px;
  width: 20px;
  height: 32px;
  background: url(../img/btn-left-a.gif) no-repeat right center;
  z-index: 70;
  cursor: pointer;
  float: left;
  margin-right:5px;
}

.company tr td.cmp_l div.mainpic .maintable tr td.pic .showimg .smallimg .previous_button_over {
  background: url(../img/btn-left.gif) no-repeat right center;
}

.company tr td.cmp_l div.mainpic .maintable tr td.pic .showimg .smallimg .previous_button_disabled {
  background: url(../img/btn-left-i.gif) no-repeat right center;
  cursor: default;
}

.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimg a.imga, 
.company tr td.cmp_l div.mainpic .maintable tr td.pic  .smallimg a.imga:link,
.company tr td.cmp_l div.mainpic .maintable tr td.pic  .smallimg a.imga:visited{
	display: block;
	float: left;
	margin: 4px;
	font-size: 12px;
	color: #435270;
	font-weight: normal;
	text-align: center;
	line-height: 1.4;
	cursor:pointer;
	border: none;
	text-decoration: none;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimg a.imga:hover{
	text-decoration: none;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimg a.imga img,
.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimg a.imga:visited img{
	padding:3px;
	border: 1px solid #CCCCCC;
	background-color:#fff;
	width: 60px;height: 60px;
}
.company tr td.cmp_l div.mainpic .maintable tr td.pic .smallimg a.imga:hover img,a.selected_ico:visited img{
	padding:0px;
	border: 4px solid #ccc;
}

.company tr td.cmp_l div.mainpic .maintable tr td.info .func1{
	border-bottom: 1px solid #E5E5E5;padding-top: 10px
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func2{
	margin-top: 20px;border-bottom: 1px solid #E5E5E5;padding-bottom: 20px;
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func2 .rebate{
	color:red;
	font-size:16px;
	font-weight:bold;
}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func2 .func2_l{
	border-right: 1px solid #E5E5E5;padding-right: 30px;overflow: hidden;
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func2 .func2_r{
	padding-left: 20px;overflow: hidden;
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func3 {
	padding: 20px 0px 5px 0px;border-bottom: 1px solid #E5E5E5;
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func4 {
	padding: 10px 0px 5px 4px;
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func5 {
	}
.company tr td.cmp_l div.mainpic .maintable tr td.info .func6 {
	padding-top: 10px;
	}
ul.product
{
	display: block;
	width: 250px;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.product li{
	padding-bottom: 2px;
}
ul.product li a,
ul.product li a:visited{
	height: 20px;
	background: #fff;
	border:1px solid #fff;
	text-decoration: none;
	font-size:14px;
}
ul.product li a:hover{
	text-decoration: underline;
}
.company .intro{
	width:600px;
}
/************** item *******************************/
.item{
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.item table{
	width:610px;
}
.item table td{
	font-size: 14px;
	vertical-align: top;
	padding-bottom: 8px;
}

.item table td.user-ico{
	width:90px;
	text-align:center;
	vertical-align:top;
	font-size:12px;
}
.item table td.user-ico a{
	font-size: 12px;
}
.item table td.user-ico a.user{
	display: block;
	float: left;
	margin: 4px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	width: 66px;
	text-decoration: none;
}
.item table td.user-ico a.user:hover{
	text-decoration: none;
}


.item table td.comment .comment-wrap{
	padding:5px;
	font-size: 14px;
	position: relative;
}
.item table td.comment .vote{
	padding-top:10px;
	line-height:24px;
	float: left;
}
.item table td.comment .time{
	line-height:24px;
	float: right;
	color: #cccccc;
}
.item .edit{
	margin-left:20px;
}
.r_mod .bg,
.r_mod .bg-bottom {
	width:160px;
}
.r_mod .bg .rd .mid,
.r_mod .bg-bottom .rd .mid
{
	float:left;
	height:5px;
	margin:0px;
	padding:0px;
	width:150px;
}
.cmprefuserlist{
}
.cmprefuserlist .cmprefuser{
	margin-top:20px;
	padding:0px 5px 0px 0px;
}
.cmprefuserlist .cmprefuser table tr td{
	vertical-align:top;
	padding:0px;
	margin:0px;
}
.cmprefuserlist .cmprefuser table tr td.user_image{
	width:48px;
}
.cmprefuserlist .cmprefuser table tr td.user_info{
	padding-left:5px;
}
.cmprefuserlist .cmprefuser table tr td.user_info a{
	font-size:14px;
}
.bigname{
	background:url(../img/nav-2-mid.gif) repeat-x;
}
.stars{
	position:relative;
	bottom:-35px;
	
}
.maincmp{
	border-bottom:1px solid #CDCDCD;
	border-left:1px solid #CDCDCD;
	border-right:1px solid #CDCDCD;
}
