<resp errcode="0" err_msg="">
<photo>
	<photoid>$!{photo.photoid}</photoid>
	<name><![CDATA[$!{photo.name}]]></name>
	<cmt_num>$!{photo.cmt_num}</cmt_num>
	<opliked>$!{photo.opliked}</opliked>
	<like_num>$!{photo.like_num}</like_num>
	<create_time><![CDATA[$!{photo.fmtTime}]]></create_time>
	<p1url><![CDATA[$!{photo.p1url}]]></p1url>
	<p2url><![CDATA[$!{photo.p2url}]]></p2url>
	<p3url><![CDATA[$!{photo.p3url}]]></p3url>
	<p4url><![CDATA[$!{photo.p4url}]]></p4url>
	<p5url><![CDATA[$!{photo.p5url}]]></p5url>
	<p6url><![CDATA[$!{photo.p6url}]]></p6url>
	<user>
		<userid>$!{photo.user.userid}</userid>
		<nick><![CDATA[$!{photo.user.nick}]]></nick>
		<head><![CDATA[$!{photo.user.head_path}]]></head>
		<pic_num><![CDATA[$!{photo.user.pic_num}]]></pic_num>
	</user>
	<cmtlist>
		#foreach($cmt in $photo.getCmtList())
		<cmt>
			<cmtid>${cmt.cmtid}</cmtid>
			<content><![CDATA[$!{cmt.content}]]></content>
			<create_time>$!{cmt.getFmtCreate_time()}</create_time>
			<replyuserid>${cmt.replyuserid}</replyuserid>
			<user>
				<userid>${cmt.user.userid}</userid>
				<nick><![CDATA[${cmt.user.nick}]]></nick>
			</user>
		</cmt>
		#end
	</cmtlist>
</photo>
</resp>