<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 配置spring 文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>
	<!-- 配置编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- 配置web框架request,response转换器 -->
	<filter>
		<filter-name>HttpWrapperFilter</filter-name>
		<filter-class>cactus.web.action.HttpWrapperFilter</filter-class>
	</filter>
	<!-- 配置web框架转发器 -->
	<filter>
		<filter-name>ActionFilter</filter-name>
		<filter-class>cactus.web.action.ActionFilter</filter-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 对于非动态文件进行过滤，不需进行转发处理 -->
		<init-param>
			<param-name>endIngore</param-name>
			<param-value>.jpg,.png,.gif,.css,.js,.ico,.jsp,.bmp,.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 包装request response -->
	<filter-mapping>
		<filter-name>HttpWrapperFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ActionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/web/500.jsp</location>
	</error-page>
</web-app>