<resp errcode="$!{errcode}" err_msg="$!{err_msg}">
	<district>
		<did>$!{district.did}</did>
		<name><![CDATA[$!{district.name}]]></name>
		<cityid>$!{district.cityid}</cityid>
		<city>
			<cityid>$!{city.cityid}</cityid>
			<name><![CDATA[$!{city.name}]]></name>
		</city>
		<province>
			<provinceid>$!{province.provinceid}</provinceid>
			<name><![CDATA[$!{province.name}]]></name>
		</province>
	</district>
</resp>