<resp errcode="$!{errcode}" err_msg="$!{err_msg}">
<list>
#foreach($ppt in $list)
<ppt>
<pptid>$!{project.projectid}</pptid>
<projectid>$!{project.projectid}</projectid>
<name><![CDATA[$!{project.name}]]></name>
<pic1url><![CDATA[$!{project.getPic1Url()}]]></pic1url>
<pic2url><![CDATA[$!{project.getPic2Url()}]]></pic2url>
<project>
<projectid>$!{project.projectid}</projectid>
<name><![CDATA[$!{project.name}]]></name>
</project>
</ppt>
#end
</list>
</resp>