html, body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, a, form, fieldset, select, input, ul, li, table, td, th, img, textarea {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5A5858;
    line-height: 25px;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    word-break: break-all;
    word-wrap: break-word;
}

img {
    border: none;
}

table tr td {
    vertical-align: top;
}

select {
    border: #ccc 1px solid;
    padding: 3px 2px;
}

table.formt {
    border: none;
    width: 100%;
}

table.formt tr td {
    vertical-align: top;
    padding: 7px;
}

a {
    color: #2398C9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #0066CC;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

h1.title1 {
    color: #5A5858;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    color: #888888;
    font-size: 16px;
}

.b {
    font-weight: bold;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

#hk {
    margin-right: auto;
    margin-left: auto;
    width: 948px;
}

#hkinner {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    position: relative;
}

#body {
    padding: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

#footer {
    padding: 20px;
    text-align: center;
}

/****************************************************/
#header #top {
    height: 93px;
    width: 100%;
}

#header #topNav {
    background-color: #E5E5E5;
    float: right;
    margin: 0;
    padding: 0;
    border: 1px solid #CCCCCC;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#header #topNav li {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #FFFFFF;
    float: left;
    margin: 6px 0;
    padding: 2px 8px;
    list-style: none;
}

#header #topNav li.first {
    border-left: none;
    font-weight: bold;
    position: relative;
}

#header #topNav li.withImage {
    padding-left: 35px;
}

#header #topNav li.withImage img {
    width: 23px;
    height: 23px;
}

#header #topNav li.last {
    border-right: none;
}

#header #topNav li a {
    font-weight: bold;
    color: #3AA9D6;
}

#header #topNav img {
    height: 23px;
    left: 6px;
    position: absolute;
    top: -4px;
    width: 23px;
}

#header #bottom {
    background-color: #4DB8E0;
    border-bottom: 1px solid #45A5C9;
    float: left;
    width: 900px;
    height: 38px;
    position: relative;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

#header #mainNav {
    border-left: 1px solid #329CC3;
    border-right: 1px solid #73C5E4;
    float: left;
    margin: 9px 0 0 20px;
    padding: 0;
}

#header #mainNav li {
    float: left;
    list-style: none;
    border-left: 1px solid #73C5E4;
    border-right: 1px solid #329CC3;
    position: relative;
}

#header #mainNav li:first-child {
}

#header #mainNav li a {
    color: #FFFFFF;
    float: left;
    font-family: Arial, sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    height: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 5px;
    padding: 0 8px;
    text-decoration: none;
}

#header #mainNav li a:hover {
    text-decoration: underline;
}

#header #bottomGrad {
    background: transparent url(../img/headerGrad.png) repeat scroll 0 0;
    clear: both;
    height: 9px;
}

#header #carrot {
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
}

#header #logo {
    float: left;
    position: relative;
    width: 150px;
    padding-top: 10px;
}

#header #logo .test {
    position: absolute;
    bottom: 0;
    right: 0;
}

#header #logo a {
    padding: 0;
    margin: 0;
}

/****************************************************/
#bodyheader {
    margin-top: 20px;
    margin-bottom: 30px;
}

#bodyheader a {
    font-weight: bold;
}

#bodyheader .bug {
    float: left;
}

#bodyheader .location {
    float: right;
}

.bd {
    border: 1px solid #000;
}

.bd0 {
    border: 1px solid #e5e5e5;
}

.reg_l {
    float: left;
    width: 220px;
    margin-right: 40px;
    background-color: #F2F2F2;
    height: 510px;
}

.reg_r {
    float: left;
    width: 570px;
    overflow: hidden;
}

.clr {
    float: none;
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
}

table.nt {
    width: 100%;
}

table tr td {
    padding: 0px 3px;
}

input.text {
    width: 250px;
    padding: 3px 7px;
    margin-bottom: 0px;
}

input.text2 {
    width: 150px;
    padding: 3px 7px;
    margin-bottom: 0px;
}

input.text3 {
    width: 150px;
    padding: 3px 7px;
}

input.text4 {
    width: 450px;
    padding: 3px 7px;
}

input.text_yzm {
    width: 70px;
    padding: 3px 7px;
}

input.text_short {
    width: 80px;
    padding: 3px 7px;
}

.btn {
    background-color: #A9CD20;
    border: 3px solid #CBEB7F;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    padding: 3px 20px !important; /*******ie8 ff opera safari******/ *padding:
    3px 0px !important; /****ie7****/ * padding:
    3px 0px;
    padding:
    3px 0px; /***ie6***/
-moz-border-radius:
    5px;
    -webkit-border-radius:
    5px;
}

.btn3 {
    background-color: #2398c9;
    border: 3px solid #74c5e7;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    padding: 3px 20px !important; /*******ie8 ff opera safari******/ *padding:
    3px 0px !important; /****ie7****/ * padding:
    3px 0px;
    padding:
    3px 0px; /***ie6***/
-moz-border-radius:
    5px;
    -webkit-border-radius:
    5px;
}

.btn2 {
    background-color: #A9CD20;
    border: 3px solid #CBEB7F;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    padding: 3px 0;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.step {
    padding: 22px 0 18px 0;
    text-align: center;
    background-color: #cccccc;
    border-bottom: 5px solid #ffffff;
    position: relative;
}

.step h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.step.selected {
    background-color: #4DB8E0;
}

.step img.selected {
    height: 65px;
    right: -15px;
    top: 0;
    width: 15px;
    position: absolute;
    background: none;
}

.row {
    padding: 7px;
}

.ruo {
    color: #cccccc;
    font-size: 12px;
}

.ruo2 {
    color: #cccccc;
}

a.ruo:hover, a.ruo2:hover {
    color: #2398C9;
}

p.linefix, br.linefix {
    line-height: 0px;
    height: 0px;
    font-size: 1px;
}

.hide {
    display: none;
}

.infowarn {
    color: red;
}

.statbox {
    background-color: #999999;
    height: 85px;
    float: right;
    margin: 0 0 10px 10px;
    padding: 8px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}

.statbox a {
    color: #ffffff;
}

.statbox .title {
    font-size: 12px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.statbox .content {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    line-height: 70px;
}

div.inactive_tips_tab, div.active_tips_tab {
    font-size: 22px;
    float: left;
    padding: 4px 8px 1px 8px;
    margin: 0 10px 0 0;
    position: relative;
    cursor: pointer;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

div.inactive_tips_tab {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    top: 2px;
    height: 22px;
}

div.inactive_tips_tab a {
    color: #999999;
}

.active_tips_tab {
    color: #2398c9;
    background-color: #ffffff;
    border-top: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    top: 2px;
    height: 24px;
}

.listbox {
    border: 2px solid #dddddd;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

ul.ulblock, ul.ulblock li {
    list-style: none;
}

ul.ulblock li {
    margin: 3px;
    padding: 8px;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.ulblock li .action {
    position: absolute;
    right: 0px;
    top: 5px;
    text-align: center;
    display: none;
}

ul.ulblock li .action a {
    color: #ffffff;
    padding: 3px 5px;
    background-color: #237CC9;
    margin-right: 7px;
    margin-bottom: 10px;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.ulblock li .action a:hover {
    text-decoration: none;
}

ul.ulblock li.even {
    background-color: #EEEEEE;
}

ul.ulblock li.enter {
    background-color: #ffffcc;
}

ul.ulblock li .pic {
    width: 30px;
    margin: 0 8px 0 0;
    float: left;
}

ul.ulblock li .pic img {
    width: 30px;
}

ul.ulblock li .num {
    float: left;
    font-size: 30px;
    color: #999999;
    line-height: 30px;
    font-weight: bold;
    margin: 0 8px 0 0;
}

ul.ulblock li .content {
    display: table-cell;
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto;
}

ul.ulblock li .item_img {
    float: right;
    height: 70px;
}

ul.ulblock li .item_img img {
    width: 40px;
    height: 40px;
}

ul.ulblock2, ul.ulblock2 li {
    list-style: none;
}

ul.ulblock2 li {
    margin: 3px;
    padding: 8px;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.ulblock2 li .action {
    position: absolute;
    right: 0px;
    top: 5px;
    text-align: center;
    display: none;
}

ul.ulblock2 li.even {
    background-color: #EEEEEE;
}

ul.ulblock2 li.enter {
    background-color: #ffffcc;
}

ul.ulblock2 li .item_img {
    float: left;
    width: 60px;
    height: 70px;
}

ul.ulblock2 li .item_img img {
    width: 60px;
}

ul.ulblock2 li .content {
    margin-left: 80px;
    height: 100%;
    width: auto;
}

div.tip_done_unchecked, div.tip_todo_unchecked, div.tip_checked {
    text-align: left;
    width: 110px;
    padding: 3px 0 3px 0;
    margin: 0 0 5px 0;
    text-indent: 5px !important; /*******ie8 ff opera safari******/ *text-indent:
    0px !important; /****ie7****/ * text-indent:
    0px;
    text-indent:
    0px; /***ie6***/
-moz-border-radius:
    5px;
    -webkit-border-top-left-radius:
    5px;
    -webkit-border-bottom-left-radius:
    5px;
    -webkit-border-top-right-radius:
    5px;
    -webkit-border-bottom-right-radius:
    5px;
}

div.tip_done_unchecked {
    color: white;
    background-color: #b1c858;
}

div.tip_todo_unchecked {
    color: white;
    background-color: #237cc9;
}

div.tip_checked {
    color: #959595;
    background-color: #d5d5d5;
}

div.tip_hidden {
    display: none;
}

div.mod {
    margin: 0 0 20px 0;
    height: 100%;
    position: relative;
}

div.mod div.mod_title {
    font-size: 24px;
    color: #888888;
    line-height: 20pt;
    border-bottom: 1px solid #888888;
    position: relative;
    height: 100%;
}

div.mod div.mod_title a {
    color: #2398C9;
    position: relative;
    text-decoration: none;
}

div.mod div.mod_title a.fn {
    color: #2398C9;
}

div.mod div.mod_title a.more {
    font-size: 14px;
    color: #2398C9;
    position: absolute;
    right: 5px;
    bottom: 0px;
}

div.mod div.mod_content {
    margin: 5px 0 5px 0;
}

div.alerts_notice {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ffcc33;
    font-weight: bold;
    padding: 5px 8px 5px 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.warn {
    background-color: #ffcc33;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 8px 5px 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/**************pop win******************/
.win2 {
    width: 400px;
    height: 300px;
    background: #222222;
    overflow: hidden;
}

.win2 .innerwin {
    margin: 5px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 0px;
    background: #fff;
    height: 250px;
}

.win2 .innerwin .handle {
    height: 20px;
    cursor: move;
}

.win2 .innerwin .title {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 3px;
}

.win2 .innerwin .content {
    font-size: 14px;
    padding-top: 3px;
}

.win2 .winbtm {
    padding-right: 20px;
}

.win2 .winbtm#id_winbtm_content {
    position: absolute;
}

.win2 .winbtm a {
    display: block;
    float: right;
    height: 35px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-top: 5px;
}

.win2 .winbtm a:hover {
    text-decoration: none;
}

.winab {
    position: absolute;
    z-index: 99999;
    left: 0px;
    top: 0px;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.numcount {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

.split-r {
    margin-right: 10px;
}

/*******************page3**************************/
div.page3 {
    margin-top: 20px;
    padding: 0px 10px;
    font-size: 14px;
}

div.page3 a {
    text-decoration: none;
    font-size: 16px;
    width: 45%;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
    display: block;
    padding: 6px 0;
    text-align: center;
    background: url(../img/page_more.gif) repeat-x;
    font-weight: bold;
}

div.page3 a.p_l {
    float: left;
}

div.page3 a.p_r {
    float: right;
}

div.page3 a:hover {
    text-decoration: none;
    border: 1px solid #bbbbbb;
    background-position: left -78px;
}

/*******************page3 end**************************/
/*******************list**************************/
.rd {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.bdtm {
    border-bottom: 1px solid #e5e5e5;
}

.more2 {
    text-decoration: none;
    font-size: 16px;
    width: 99%;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
    display: block;
    padding: 6px 0;
    text-align: center;
    background: url(../img/page_more.gif) repeat-x;
    font-weight: bold;
}

.nodata {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

ul.rowlist, ul.rowlist li {
    list-style: none;
}

ul.rowlist li {
    height: 100%;
    padding: 7px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

ul.rowlist li.enter {
    background-color: #ffffcc;
}

ul.t li {
    border-bottom: 1px solid #e5e5e5;
}

ul.userlist, ul.userlist li {
    list-style: none;
}

ul.userlist li {
    height: 100%;
    padding: 7px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

ul.userlist li .head {
    float: left;
    width: 60px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

ul.userlist li .body {
    margin-left: 80px;
}

.pl {
    float: left;
    width: 580px;
}

.pr {
    float: right;
    width: 260px;
}

.share {
    width: 260px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #DEDEDE;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.share a {
    float: left;
    width: 130px;
    display: block;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    color: #000000;
}

.share a img {
    vertical-align: text-bottom;
}

.share a:hover {
    text-decoration: none;
    background-color: #DEDEDE;
}

.ashare {
    padding-left: 20px;
    background: url("../img/share.gif") no-repeat;
}

.kuactor {
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.kuactor .kuimg {
    float: left;
    width: 320px;
    height: 320px;
}

.kuactor ul.kulist, .kuactor ul.kulist li {
    list-style: none;
}

.kuactor ul.kulist {
    float: right;
}

.kuactor ul.kulist li {
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    background-color: #ffffff;
    width: 240px;
    position: relative;
}

.kuactor ul.kulist li.end {
    border-bottom: none;
}

.kuactor ul.kulist li .arrow {
    position: absolute;
    left: -10px;
    top: 30px;
    display: none;
    width: 10px;
    height: 13px;
    background: url(../img/r_arrow.gif) no-repeat 0 0;
    z-index: 99;
}

.kuactor ul.kulist li .inpad {
    padding: 5px;
}

.kuactor ul.kulist li .head {
    float: left;
    width: 60px;
}

.kuactor ul.kulist li .info {
    margin-left: 70px;
    position: relative;
    height: 70px;
    width: 160px;
    overflow: hidden;
}

.tag_sel {
    float: left;
    margin-right: 20px;
    width: 120px;
}

.user_info {
    margin-bottom: 20px;
}

.u_l {
    float: left;
    width: 495px;
}

.u_r {
    float: right;
    width: 350px;
}

.must {
    font-weight: bold;
    font-size: 16px;
}

ul.userlist2, ul.userlist2 li {
    list-style: none;
}

ul.userlist2 li {
    float: left;
    width: 150px;
    height: 60;
    overflow: hidden;
    margin-right: 20px;
}

.imgbox {
    /* 非IE的主流浏览器识别的垂直居中的方法*/
    display: table-cell;
    vertical-align: middle;
    /*设置水平居中*/
    text-align: center;
    /* 针对IE的Hack */ *display:block;
    * font-size: 310px;
    width:
    310px;
    height:
    310px;
}

.imgbox img {
    /* 设置图片垂直居中*/
    vertical-align: middle;
}

.main_item .head {
    float: left;
    width: 100px;
    text-align:center;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

.main_item .item_area {
    float: left;
    margin-left: 10px;
    width: 470px
}

.main_item .item_area .item_img {
    float: left;
    width: 220px;
    height: 220px;
}

.main_item .item_area .item_prop {
    float: left;
    margin-left: 10px;
    width: 240px;
}

ul.itemcmtlist, ul.itemcmtlist li {
    list-style: none;
}

ul.itemcmtlist li {
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
    height: 100%;
    padding: 3px;
}

ul.itemcmtlist li.odd {
    background-color: #e5e5e5;
}

ul.itemcmtlist li.enter {
    background-color: #ffffcc;
}

ul.itemcmtlist li.enter2 {
    background-color: #ffffff;
}

ul.itemcmtlist li .head {
    float: left;
    width: 100px;
    height: 100%;
    text-align:center;
    word-break: break-all;
    word-wrap: break-word;
}

ul.itemcmtlist li .body {
    margin-left: 110px;
    height: 100%;
}

ul.itemcmtlist li .body .body_head {
    height: 30px;
}

ul.itemcmtlist li .body .body_head .nick {
    float: left;
}

ul.itemcmtlist li .body .body_head .time {
    float: right;
    width: 150px;
}

ul.itemcmtlist li .body .body_head .score {
    float: right;
    width: 100px;
}

ul.itemcmtlist li .body .op {
    text-align: right;
}

ul.itemcmtlist li .body .op a {
    margin-right: 10px;
}

ul.itemcmtlist li .body .op a.opa {
    color: #cccccc;
}

ul.itemcmtlist li.enter .body .op a.opa, ul.itemcmtlist li.enter2 .body .op a.opa, ul.itemcmtlist li.enter3 .body .op a.opa {
    color: #2398C9;
}

div.a_checked, div.a_checked0, div.a_unchecked {
    text-align: left;
    width: 60px;
    padding: 3px 0 3px 0;
    margin: 0 0 5px 0;
    text-indent: 5px !important; /*******ie8 ff opera safari******/ *text-indent:
    0px !important; /****ie7****/ * text-indent:
    0px;
    text-indent:
    0px; /***ie6***/
-moz-border-radius:
    5px;
    -webkit-border-top-left-radius:
    5px;
    -webkit-border-bottom-left-radius:
    5px;
    -webkit-border-top-right-radius:
    5px;
    -webkit-border-bottom-right-radius:
    5px;
}

div.a_checked0 {
    color: white;
    background-color: #b1c858;
}

div.a_unchecked {
    color: #959595;
    background-color: #d5d5d5;
}

div.a_checked {
    color: #ffffff;
    background-color: #237cc9;
}

div.a_checked a {
    color: #ffffff;
    display: block;
}

div.a_unchecked a {
    color: #959595;
    display: block;
}

div.tip_hidden {
    display: none;
}

ul.headlist, ul.headlist li {
    list-style: none;
}

ul.headlist li {
    float: left;
    margin: 0 10px;
}

ul.itemlist, ul.itemlist li {
    list-style: none
}

ul.itemlist li {
    float: left;
    margin-left: 20px;
    width: 100px;
    overflow: hidden;
    text-align: center;
}

ul.replylist, ul.replylist li {
    list-style: none;
}

ul.replylist li {
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

ul.replylist li.enter {
    background-color: #ffffcc;
}
ul.replylist li .reply_head {
    float: left;
    width: 30px;
}

ul.replylist li .reply_head img {
    width: 30px;
    height: 30px;
}

ul.replylist li .reply_body {
    margin-left: 40px;
}

.split-l {
    margin-left: 10px;
}

.beginpos {
    display: none;
}

.kuactor {
    border: 1px solid #e5e5e5;
    padding-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.itemcmt {
    clear: both;
    font-size: 14px;
    padding: 10px 0 3px 0;
    border-bottom: 1px black dotted;
}

div.itemcmt a {
    font-weight: bold;
}

div.itemcmt div.i_head {
    float: left;
    width: 52px;
}

div.itemcmt div.i_head img {
    width: 48px;
    height: 48px;
    padding: 2px;
    border: 1px #999999 solid;
}

div.itemcmt div.body {
    margin-left: 60px;
    margin-right: 65px;
}

div.itemcmt div.i_img {
    float: right;
    width: 57px;
}

div.itemcmt div.i_img img {
    width: 57px;
    height: 57px;
}

.shop_l {
    float: left;
    width: 200px;
}

.shop_r {
    float: right;
    width: 640px;
}

.shop_logo {
    text-align: center;
    width: 200px;
    overflow: hidden;
}

a.ask_detail_down {
    padding-left: 20px;
    background: url(../img/down.gif) no-repeat 0px 1px;
}

a.ask_detail_up {
    padding-left: 20px;
    background: url(../img/up.gif) no-repeat 0px 1px;
}

ul.asklist, ul.asklist li {
    list-style: none;
}

.align_c {
    text-align: center;
}

ul.head2list, ul.head2list li {
    list-style: none;
}

ul.head2list li {
    float: left;
    margin: 3px;
    width: 32px;
    height: 32px;
}

ul.head2list li img {
    width: 32px;
    height: 32px;
}

.userop_func {
    background-color: #E5E5E5;
    border: 1px solid #cccccc;
    padding: 0 7px;
}

ul.headlist3, ul.headlist3 li {
    list-style: none;
}

ul.headlist3 li {
    float: left;
    margin: 7px;
    width: 66px;
    overflow: hidden;
    border: none;
    padding: 0;
}

ul.headlist3 li img {
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 0;
    border: 1px solid #cccccc;
}

ul.headlist3 li p {
    text-align: center;
    height: 25px;
    overflow: hidden;
}

ul.headlist4, ul.headlist4 li {
    list-style: none;
}

ul.headlist4 li {
    float: left;
    margin: 7px;
    width: 66px;
    overflow: hidden;
    border: none;
    padding: 0;
    text-align: center;
}

ul.headlist4 li a {
    float: left;
    display: block;
    border: 1px solid #e5e5e5;
    clear: both;
}

ul.headlist4 li img {
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 0;
}

ul.headlist4 li p {
    height: 25px;
}

.picbox {
    float: left;
    margin: 7px;
    width: 66px;
    text-align: center;
    overflow: hidden;
}

.picbox img {
    border: 1px solid #e5e5e5;
    width: 60px;
    height: 60px;
    padding: 2px;
}

.nobd {
    border: none;
}

a.nick {
    color: #5A5858;
    font-weight: bold;
}

.ask_ans {
    border: 4px solid #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ask {
    background-color: #ffffcc;
}

.ask ul li {
    background-color: #ffffcc
}

.bestans {
    background-color: #e5e5e5
}

.bestans ul li {
    background-color: #e5e5e5
}

ul.friendlist, ul.friendlist li {
    list-style: none;
}

ul.friendlist li {
    height: 100%;
    margin: 3px;
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.friendlist li.even {
    background-color: #EEEEEE;
}

ul.friendlist li.enter {
    background-color: #ffffcc;
}

ul.friendlist li .head {
    float: left;
    width: 60px;
    height: 60px;
}

ul.friendlist li .head img {
    width: 60px;
    height: 60px;
}

ul.friendlist li .body {
    margin-left: 75px;
    height: 100%
}

.userinfo .head {
    float: left;
    text-align: center;
}

.userinfo .inforow {
    margin-bottom: 10px;
}

.userinfo .head img {
    border: 3px solid #cccccc;
}

.userinfo .body {
    float: left;
    margin-left: 20px;
}

.log {
    padding: 5px 0;
    border-right: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.log .box {
    float: left;
    width: 80px;
    border-right: 1px solid #cccccc;
    text-align: center;
    padding: 0;
}

.log .box a, .log .box a:hover {
    text-decoration: none;
}

.log .box.end {
    border-right: none;
}

.log .box .num {
    font-weight: bold;
    font-size: 18px;
}

.log .box .tit {
    color: #5A5858;
}

ul.itemimglist, ul.itemimglist li {
    list-style: none;
}

ul.itemimglist li {
    float: left;
    margin: 10px;
    width: 86px;
    height: 86px;
}

ul.itemimglist li img {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 1px solid #cccccc;
}
.log2 {
	margin-top:10px;
    padding: 5px 0;
}

.log2 .box {
    float: left;
    padding:0 15px;
    border-right: 1px solid #cccccc;
    text-align: center;
}

.log2 .box a, .log2 .box a:hover {
    text-decoration: none;
}

.log2 .box.end {
    border-right: none;
}

.log2 .box .num {
    font-weight: bold;
    font-size: 18px;
}

.log2 .box .tit {
    color: #5A5858;
}



